* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    position: absolute;
    top: 0;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("https://res.cloudinary.com/aseabuildersco/image/upload/v1652173215/bg_hd_dpfmrl.jpg");
    background-blend-mode: darken;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: visible;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
